@page "/"
@inject IJSRuntime JSRuntime
@attribute [Authorize(Roles = "Admin")]


<div class="row">
    <div class="col-md-6">
        <h4>Number of Events: @eventCount</h4>
    </div>
    <div class="col-md-6">
        <canvas id="vehicleChart" style="max-height: 400px; max-width: 400px;"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <canvas id="userChart" style="max-height: 400px; max-width: 400px;"></canvas>
    </div>
</div>

@code {
    private int eventCount = 10;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeCharts();
        }
    }

    private async Task InitializeCharts()
    {
        await JSRuntime.InvokeVoidAsync("createVehicleChart", new
        {
            labels = new[] { "Expected Vehicles", "Arrived Logged Vehicles" },
            data = new[] { 5, 3 },
            chartId = "vehicleChart",
            title = "Vehicle Comparison"
        });

        await JSRuntime.InvokeVoidAsync("createUserChart", new
        {
            labels = new[] { "Admin", "Service Personnel" },
            data = new[] { 2, 5 },
            chartId = "userChart",
            title = "User Roles"
        });
    }
}
