@page "/list-events"
@inject HttpClient Httpclient
@using System.Text.Json
@using ParvigateUI.DTOs
@using System.Text.Json.Serialization;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]


<h3>Events</h3>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else if (events.Count == 0)
{
    <p><em>Locations list empty</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventRecord in events)
            {
                <tr>
                    <td>@eventRecord.Id</td>
                    <td>@eventRecord.EventName</td>
                    <td>
                        <button @onclick="() => HandleDeleteClick(eventRecord.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    JsonSerializerOptions options = new JsonSerializerOptions
        {
            DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull,
            PropertyNameCaseInsensitive = true
        };

    private GlobalResponse<List<GetEventDto>> eventsResponse;
    private List<GetEventDto> events;
    private IJSObjectReference module;

    protected override async Task OnInitializedAsync()
    {
        var response = await Httpclient.GetAsync("https://parvigateapi.azurewebsites.net/Events/list-all-events");

        if (response.IsSuccessStatusCode)
        {
            var responseAsString = await response.Content.ReadAsStringAsync();
            if (string.IsNullOrWhiteSpace(responseAsString) is false)
            {
                eventsResponse = JsonSerializer.Deserialize<GlobalResponse<List<GetEventDto>>>(responseAsString, options);
                events = eventsResponse.Data.OrderBy(c => c.EventName).ToList();
            }
        }
    }


    private async Task DeleteLocation(string locationId)
    {
        var response = await Httpclient.DeleteAsync($"https://parvigateapi.azurewebsites.net/Events/delete-event?eventId={locationId}");

        var responseAsString = await response.Content.ReadAsStringAsync();
        var responseObject = JsonSerializer.Deserialize<GlobalResponse<string>>(responseAsString, options);


        if (response.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeVoidAsync("alert", responseObject.Data);

            events.Remove(events.FirstOrDefault(c => c.Id == locationId));

            //NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", responseObject.Errors.First().ErrorMessages.First());
        }
    }

    private async Task HandleDeleteClick(string locationId)
    {
        await DeleteLocation(locationId);
    }
}
